.button {
  font-family: "Roboto";
  border-radius: 30px;
  padding: 10px 32px;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.35rem;
  background-color: rgba(46, 229, 172, 1);
  color: #fff;
  flex: 1;
  transition: all 0.3s ease;
  &:hover {
    background-color: #2c2f33;
    color: #66a6ff;
  }
}
