.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slideSwitchRound {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 20px;
    transition: 0.4s;

    &:before {
      content: "";
      position: absolute;
      height: 26px;
      width: 26px;
      background: white;
      border-radius: 50%;
      left: 4px;
      top: 4px;
      transition: 0.4s;
    }
  }

  input:checked + .slideSwitchRound {
    background-color: #2196f3;

    &:before {
      transform: translateX(26px);
    }
  }

  input:focus + .slideSwitchRound {
    box-shadow: 0 0 1px #2196f3;
  }
}
